@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;600;700&display=swap");

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 40 40, 40;
	--background-end-rgb: 20, 20, 20;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

.transparentBg {
	background: repeating-conic-gradient(#fff 0 90deg, #ddd 0 180deg) 0 0/40px
		40px round;
}

@keyframes fade-slide {
	0% {
		opacity: 0;
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
